@{
    ViewBag.Title = "Regeln";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <div class="container">
        <div class="eight columns">
            <h3>Punktevergabe</h3>

            <ul>
                <li><i>Vorrunde:</i> Der Einsatz ist 1 Einheit pro Spiel. Falls der Tipp ins Schwarze trifft, wird der Einsatz mit der Quote multipliziert und gutgeschrieben.</li>
                <li><i>Achtelfinale:</i> Der Einsatz wird auf 2 Einheiten pro Spiel erhöht.</li>
                <li><i>Viertelfinale:</i> Der Einsatz wird auf 4 Einheiten pro Spiel erhöht.</li>
                <li><i>Halbfinale:</i> Der Einsatz wird auf 6 Einheiten pro Spiel erhöht.</li>
                <li><i>Finale:</i> Der Einsatz wird auf 10 Einheiten pro Spiel erhöht.</li>
            </ul>

            <p>Gewinner ist, wer am Ende die meisten Punkte gesammelt hat.</p>
        </div>
        <div class="eight columns">
            <h3>Joker-Tipps in der Vorrunde</h3>
            Jeder Tipper hat 3 Joker zur Verfügung, die beliebig für Vorrundenspiele eingesetzt werden können.
            Ist ein Tipp mit Joker richtig, dann wird die Quote mit dem Faktor 2.0 multipliziert.

            <h3>Wertung während der K.O.-Runden</h3>

            Wir wenden die gleiche Regel an wie die Wettbüro, welche die Quoten stellen: Gewertet wird das Spiel nach der regulären Spielzeit.
            Verlängerung oder Elfmeterschiessen haben keinen Einfluss. Dadurch sind auch während den K.O.-Spielen Unentschieden möglich.

            <h3>Wetteinsatz</h3>
             Jeder Mitspiel zahlt 20.- CHF ein und - the winner takes it all bzw. darf ruhig die Rechnung beim nächsten BuLi-Barbesuch übernehmen.
        </div>
    </div>
</article>

